* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: #f4d04e;
  --white: #ffffff;
  --black: #000000;
  --gray: #6b6b6b;
}

body {
  background-color: var(--yellow);
  font-family: "Figtree", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 24px;
  border-radius: 20px;
  width: 384px;
  height: 522px;
  gap: 24px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 1);
}

.img1 {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  /* margin-bottom: 24px; */
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

a {
  text-decoration: none;
  background-color: var(--yellow);
  color: var(--black);
  padding: 4px 12px;
  border-radius: 4px;
  width: fit-content;
  font-weight: bold;
}

.p1 {
  font-size: 14px;
}

h2:hover {
    color: var(--yellow);
    cursor: pointer;
}

.p2 {
  color: var(--gray);
  font-size: 16px;
  line-height: 25px;
}

.author {
  display: flex;
  flex-direction: row;
  align-self: start;
  align-items: center;
  gap: 12px;
  font-weight: bold;
}
