* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --mobile: 375px;
  --desktop: 1440px;

  --font-size-paragraph: 14px;

  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: var(--font-size-paragraph);
}

/* Main content */

main {
  background-color: var(--white);
  max-width: 650px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
}

/* Left side */

.left_side {
  width: 50%;
}

.left_side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right side */

.right_side {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
}

h2 {
  font-size: 12px;
  font-weight: unset;
  letter-spacing: 5px;
  color: var(--grey);
  margin-top: 10px;
}

h1 {
  color: var(--black);
  font-family: "Fraunces", serif;
  font-size: 32px;
  line-height: 1;
  margin-top: 20px;
}

p {
  font-size: var(--font-size-paragraph);
  color: var(--grey);
  line-height: 1.6;
  margin-top: 35px;
}

.price {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 35px;
}

.price .current_price {
  font-family: "Fraunces", serif;
  font-size: 32px;
  color: var(--green-500);
}

.price .original_price {
  font-size: 13px;
  color: var(--grey);
}

button {
  background-color: var(--green-500);
  color: var(--white);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 35px;
  gap: 10px;
}

button:hover {
  background-color: var(--green-700);
}

/* Responsive design */

@media (max-width: 375px) {
  main {
    flex-direction: column;
  }

  .left_side,
  .right_side {
    width: 100%;
  }

  /* .left_side img {
    width: 100%;
    height: auto;
    display: block;
  } */
}
