* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  max-width: 350px;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  margin: 20px;
}

h1 {
  font-size: 22px;
  color: hsl(218, 44%, 22%);
  line-height: 120%;
  margin: 20px 15px 10px 15px;
  font-weight: 700;
}

p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  line-height: 140%;
  letter-spacing: 0.2px;
  margin: 0 15px 20px 15px;
  font-weight: 400;
}
