* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 13px;
}

.article-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* overflow: hidden; */
  max-width: 750px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.article-image {
  width: 40%;
  height: auto;
}

.article-image img {
  width: 100%;
  height: 100%;
}

.article-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

.article-title {
  font-size: 1.5rem;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 15px;
}

.article-text {
  color: var(--desaturated-dark-blue);
  line-height: 1.6;
  margin-bottom: 20px;
}

.article-author {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.article-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: auto;
}

.author-name {
  font-weight: bold;
  color: var(--very-dark-grayish-blue);
}

.publish-date {
  color: var(--grayish-blue);
}

.share-control {
  position: relative;
  display: flex;
  align-items: center;
}

.share-button {
  background-color: var(--light-grayish-blue);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.share-button img {
  width: 20px;
  height: 20px;
}

.share-button:hover {
  background-color: var(--desaturated-dark-blue);
}

.share-button:hover img {
  filter: brightness(0) invert(1);
}

/* * show popup share * */

.share-menu {
  background-color: var(--very-dark-grayish-blue);
  padding: 10px 25px;
  border-radius: 10px;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: calc(100% + 16px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.share-menu.is-visible {
  display: flex;
}

.share-menu::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--very-dark-grayish-blue);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.share-text {
  color: var(--desaturated-dark-blue);
  letter-spacing: 5px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* * media * */

@media (max-width: 376px) {
  .article-card {
    flex-direction: column;
    max-width: 320px;
    height: auto;
    overflow: visible;
  }

  .article-image,
  .article-content {
    width: 100%;
  }

  .article-title {
    font-size: 1.2em;
  }

  .article-text {
    font-size: 0.9em;
  }

  .article-author {
    position: static;
  }

  .share-control {
    width: 100%;
    justify-content: flex-end;
    position: static;
  }

  /* ^ popup */

}
